/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;

@font-face {
  font-family: CAPFont;
  src: url("../fonts/Web-Regular.eot");
  src: url("../fonts/Web-Regular.eot") format("embedded-opentype"),
    url("../fonts/Web-RegularItalic.eot") format("embedded-opentype"),
    url("../fonts/Web-Regular.woff") format("woff"),
    url("../fonts/Web-RegularItalic.woff") format("woff");
}

//@import '~grommet/scss/vanilla/index';

/* Styles */
html,
body {
  height: 100vh;
  width: 100vw;
}


body .grommet {
  font: 14px CAPFont;
}

#app {
  height: 100vh;
  overflow-y: scroll;
}

#app-main {
  height: 100%; /*allows both columns to span the full height of the browser window*/
  display: flex;
  flex-direction: column;
}

#header {
  height: 55.97px;
  flex-shrink: 0;
  display: inline-flex;
}

label {
  margin-bottom: 0.15em;
}

#main-container {
  flex-grow: 1; /*ensures that the container will take up the full height of the parent container*/
  overflow-y: auto; /*adds scroll to this container*/
  height: 100%;
  display: flex;
}

.rjsf {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-bottom: 5px;


  .cap-grommet-input {
    input {
      border: 0 !important;
    }
    input:focus {
      padding: "11px 23px";
      border: 0 !important;
    }
  }
}

.cap-async-select-input {
  > div > div {
    border: 0 !important;
  }
}

.rjsf-condenced {
  height: auto;
}

.menuItem::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: #000;
  transition: width 0.3s;
}

.menuItem:hover::after {
  width: 100%;
  transition: width 0.3s;
}




// xsmall
@media only screen and (min-width: 320px) {

  .small-row-large-column{
    flex-direction: column !important;
  }
  
  #list{
    display: flex;
    max-width: 95vw;
    width: 100%;
    overflow:visible;
    flex-direction: row;
    align-items: center;
    justify-content: center
  }
  
  #item{
    min-width: 223px;
    align-items: center;
    justify-content: center;
  }
  
  
  #tabs-select-component .css-yk16xz-control{
    border:0; 
  }
  .md-row {
    flex-direction: row !important;
    justify-content: space-around;
    align-items: center;
  }
  .jst-md-center {
    justify-content: center;
  }
  .width-100 {
    width: 100% !important;
  }
  
  .sm-order-1{
    order:2;  
    margin: 50px 10px 50px 10px;
  }
  .sm-order-2{
    order:1;
    margin: 50px 10px 0px 10px;
  }
  .sm-order-3{
    order:3;
    margin: 0px 10px 50px 10px;
  }
  
  .sm-order-4{
    order:4;
    margin: 0px 10px 50px 10px;
  }

  .dashboard-meter ul li {
    flex-direction: row !important;
  }

  
  .md-column {
    display: flex;
    flex-direction: column !important;
  }
  .tabs-list-items{
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-around;
  }

  .tabs-list{
    display:none !important;
  }
  .tabs-select-menu{
    display: flex !important;
    overflow: visible
  }
  .select-menu{
    width:300px
  }


}



// small
@media only screen and (min-width: 580px) {
  .small-row-large-column{
    flex-direction: row !important;
  }
  .sm-order-2{
    order:1;
  }
  .sm-order-1{
    order:2;
  }
  #list{
    max-width: 97vw;
  }
}

// medium
@media only screen and (min-width: 720px) {
  
  #list{
    max-width: 92vw;
  }
  
  .sm-order-1{
    order:1;
    margin: 0;
  }
  .sm-order-2{
    order: 2;
    margin:0;
  }

  .sm-order-3{
    margin: 0;
  }

  .sm-order-4{
    margin: 0;
  }
  .md-row {
    flex-direction: column !important;
    justify-content: flex-start;
  }
  .jst-md-center {
    justify-content: flex-start;
  }
  .lg-column {
    flex-direction: column !important;
  }
  .lg-row {
    width: auto !important;
  }
 
}

@media only screen and (min-width: 800px) {
  #list{
    overflow-x:auto;
    justify-content: flex-start;
    max-width: 91vw;
  }
  .tabs-list-items{
    display: flex !important;
    flex-direction: row !important;
  }
  .tabs-list{
    display:flex !important;
  }

  .tabs-select-menu{
    display: none !important
  }

  
  
}

@media only screen and (min-width: 850px) {
  #list{max-width: 91.5vw;}
  .xlarge_box{
    width: 750px;
  }
  .justify-large{
    justify-content: center
  }
  
}

@media only screen and (min-width: 992px) {
  #list{max-width: 92vw;}
}

@media only screen and (min-width: 1050px) {
  #list{max-width: 93vw;}

}
// large
@media only screen and (min-width: 1135px) {
 
  .lg-row {
    flex-direction: column !important;
  }

  #list{max-width: 93vw;}
  
}


@media only screen and (min-width: 1200px) {
  
  #list{max-width: 94vw;}
  
}
@media only screen and (min-width: 1300px) {
  
  #list{max-width: 94vw;}
  
}

// xlarge
@media only screen and (min-width: 1400px) {
  .md-column {
    display: flex;
    flex: 1;
    flex-direction: row !important;
  }
  .tabs-list-items{
    flex-direction: column !important;
    justify-content: flex-start;
  }
  .lg-column {
    flex-direction: row !important;
  }
  #list{ align-items: flex-start; width:auto; max-width: 100%}
  #item{align-items: flex-start;}
  .small-row-large-column{
    flex-direction: column !important;
  }
}


